$color-white: #ffffff;
$color-black: #000000;
$color-gray: #1E1E1E;
$color-tan-light: #f3f1ed;
$color-tan-dark: #b5a484;
$color-red-light: #bd3131;
$color-red-dark: #932525;

$screen-xlarge: 81.25em;   //  1300px
$screen-large: 62.5em;     //  1000px
$screen-medium: 50em;      //  800px
$screen-small: 37.5em;     //  600px
$screen-smallest: 20em;    //  320px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 / 16 = .625, for rems

  @media only screen and (max-width: $screen-large) {
    font-size: 50% !important;
  }

  @media only screen and (max-width: $screen-medium) {
    font-size: 35% !important;
  }

  @media only screen and (max-width: $screen-smallest) {
    font-size: 25% !important;
  } 
}

body {
  font-family: 'Open Sans', sans-serif;
}