* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif; }

.card {
  width: 31%;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 1000px) {
    .card__img {
      background-size: cover !important; } }
  .card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25rem;
    background-color: #f3f1ed;
    padding: 0 4rem 1.5rem 4rem; }
  .card__icon {
    height: 2.5rem;
    fill: #bd3131; }
  .card__date {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .card__title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center; }
  .card .cta {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #bd3131; }
    .card .cta:hover {
      cursor: pointer;
      color: #932525; }

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .cards__title {
    font-size: 3.5rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    padding: 3rem 0; }

.footer {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E;
  color: #b5a484; }
  .footer__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 17rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .3rem;
    text-transform: uppercase; }
  .footer__social-link img {
    height: 2.5rem; }

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent), url("../_assets/photography/kc-gathering.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #bd3131;
  color: #ffffff; }
  .header__content {
    display: flex;
    height: 50rem;
    background-color: #bd3131;
    width: 80%; }
  .header__text {
    max-width: 50rem;
    padding-bottom: 25rem; }
  .header__title {
    font-size: 7rem;
    font-weight: 300;
    text-transform: capitalize; }
  .header__paragraph {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .1rem;
    line-height: 2.5rem;
    width: 95%; }
  .header__img {
    height: 80rem; }

.headercard {
  display: flex;
  height: 100%; }
  .headercard__img, .headercard__content {
    width: 50%; }
  .headercard__img {
    background-color: #ffffff;
    background-image: url(../_assets/photography/pour-mug.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .headercard__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; }
  .headercard__text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    height: 60%; }
  .headercard__icon {
    height: 2.5rem;
    fill: #bd3131; }
  .headercard__date {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
  .headercard__title {
    font-size: 3rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center; }
  .headercard__paragraph {
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
    font-weight: 300; }
  .headercard .cta {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: #bd3131; }
    .headercard .cta:hover {
      cursor: pointer;
      color: #932525; }

.navbar-container {
  display: flex;
  flex-direction: column; }

.header-container {
  height: 140vh; }

.sub-section {
  height: 40vh;
  background-color: #b5a484;
  display: flex;
  justify-content: center;
  position: relative; }

.headercard-section {
  position: absolute;
  top: -30rem;
  width: 90%;
  height: 60vh;
  background-color: #bd3131; }

.cards-section {
  padding: 0 9rem; }

.footer-container {
  display: flex;
  flex-direction: column; }

.sponsored {
  background-color: #b5a484;
  text-align: center;
  padding: .5rem;
  font-size: 1.3rem;
  text-transform: capitalize; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E1E1E;
  padding: 2rem 5rem; }
  .navbar__brand {
    height: 4rem; }
  .navbar__logo-box {
    border: 2px solid #b5a484;
    padding: .5rem 1.5rem; }
  .navbar__logo {
    color: #b5a484;
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .3rem; }
  .navbar__social {
    display: flex;
    justify-content: space-around;
    width: 7.6rem; }
  .navbar__social-link img {
    height: 2.5rem; }
